body {
    background-color:darkgray;
    color: white;
}

#mainsection {
    background-color:lightgrey;
    display: inline-block;
    position: relative;
    left: 30%;
    top: 80px;
}

#controlbar {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 30%;
}

#controlbar div {
    width: 80%;
    display: inline-block;
    background-color:lightgrey;
}

#controlpanel span:after {
    content:'\A';
    white-space:pre;
}

.draftcanvas {
    border:1px solid #000000;
}

.readout {
    width: 4em;
}

.colorbox {
    width: 20px;
    height: 20px;
    font-size: 50%;
    border: 2px solid transparent;
}

.selected {
    border: 2px solid black;
}

#BLACKBOX.selected {
    border: 2px solid white;
}

#WHITEBOX {
    background-color: #ffffff;
}

#BLACKBOX {
    background-color: #000000;
}

#REDBOX {
    background-color: #ff0000;
}

#GREENBOX {
    background-color: #009900;
}

#BLUEBOX {
    background-color: #0000ff;
}

#GREYBOX {
    background-color: #cccccc;
}

#YELLOWBOX {
    background-color: #ffff00;
}

#CYANBOX {
    background-color: #00ffff;
}

#MAGENTABOX {
    background-color: #990099;
}

#ORANGEBOX {
    background-color: #ff8800;
}