body {
    background-color:#CCCCFF;
    color: black;
}

h1,h3 {
    text-align: center;
    font-variant: small-caps;
}

h4 {
    text-align: center;
    font-size: smaller;
    font-variant: small-caps;
}

.instructionlink a {
    font-size: x-large;
    font-variant: small-caps;
}

.export_width_span {
    width: 100%;
}

#mainsection {
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 170px;
}

#textinstructions {
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 170px;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 5px 5px 5px;
}

#repeatsection {
    display: inline-block;
    position: absolute;
    left: 900px;
    top: 170px;
}

#controlbar {
    position: fixed;
    top: 160px;
    left: 0px;
    width: 350px;
    bottom: 28px;
    border: 1px solid black;
    overflow-y: scroll;
    background-color:#EEEEFF;
}

#controlbar > div {
    width: 100%;
    display: inline-block;
    background-color:#EEEEFF;
}

div.controlpanel > div {
    display: table;
    width: 95%;
    margin: auto;
}

div.controlpanel > div > span {
    display: table-row;
}

div.controlpanel > div > span > label {
    display: table-cell;
}

div.controlpanel > div > span > span {
    display: table-cell;
    white-space:nowrap;
}

#resets div {
    width: 100%;
}

#resets div span, #export > div > span, #loaddiv div span {
    display: block;
    margin: auto;
    width: 30%;
}

#fileio > div {
    display: table;
    width: 90%;
}

#fileio > div > span {
    display: table;
    width: 90%;
}

#fileio > div > span > button {
    display: table-cell;
}

#fileio > div > span > label {
    display: table-cell;
}

#fileio > div > span > input {
    display: table-cell;
}

#coloursliders {
    display: table;
    width: 90%;
}

#coloursliders > span {
    display: table-row;
}

#coloursliders > span > label, #coloursliders > span > input {
    display: table-cell;
}

#export button, #resets button, #fileio button, #loaddiv input{
    width:100%;
}

#instructions {
    width:100%;
}

#blogvert {
    width:100%;
}

.instructionlink {
    font-size: 200%;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0em;
}

.blogvert {
    font-size: 100%;
    text-align: center;
}

.draftcanvas {
    border:1px solid #000000;
    margin-bottom: 30px;
}

.repeacanvas {
    border:1px solid #000000;
}

.readout {
    width: 4em;
}

#draftname .readout {
    width: 100%;
}

.colorbox {
    width: 20px;
    height: 20px;
    font-size: 50%;
    border: 2px solid transparent;
}

.selected {
    border: 2px solid black;
}

#copyright {
    background-color:#EEEEFF;
    border: 1px, solid, black;
    display: block;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 5px;
    left: 0;
    margin: 2px;
    z-index: -1;
    text-align: center;
    font-size: smaller;
}

#messagepopup {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    text-align:left;
    width:80%;
    z-index:50;
    padding: 25px 25px 20px;
}

#previewcontainer {
    padding: 5px 5px 5px;
    border: 1px solid #999999;
}

.accordion {
    font-variant: small-caps;
    font-size: larger;
    /* background-color: #eee; */
    background-color:#EEEEFF;
    color: black;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #CCCCFF;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
